
.promotion {
    font-size: 1.5em;
    position: relative;
    padding: 100px;
    top: 20%;
    left: 30%;
    position: fixed;
    color: black;
    width: 30%;
    height: auto;
    background-color: yellowgreen;
    z-index: 2;
    border: 8px solid yellow;
}

.closePromotion {
    top: 5%;
    right: 5%;
    position: absolute;
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
}